<div class="drag-body dashboard-widget">
	<div class="panel-heading" [ngStyle]="{'background':widget?.widgetProperty?.background}">
	  <h5 class="panel-title" [ngStyle]="{'font-size':widget?.widgetProperty?.fontSize+'px',
	  'font-family':widget?.widgetProperty?.fontFamily,
	  'color':widget?.widgetProperty?.fontColor}"> Locations </h5>
	  <div class="mr-5" style="min-width: 150px;">
		<button mat-flat-button type="button" color="primary" title="Map" [ngClass]=" mapview ? 'active' : ''"
		  (click)="mapview = !mapview">Map</button>
		<button mat-flat-button type="button" color="primary" class="ml-3" title="List"
		  [ngClass]="!mapview ? 'active' : ''" (click)="mapview = !mapview">List</button>
	  </div>
	</div>
	<mat-card class="dashboard-card mat-card p-0" style="padding: 0 !important;">
		<div *ngIf="mapview" id="map-view" [ngStyle]="{'height':mapHeight}">
			<agm-map [latitude]="lat" [longitude]="lng" [ngStyle]="{'height':mapHeight}"
			*ngIf="locationlist.length > 0"
			[zoom]="widget?.widgetProperty?.zoom">
				<agm-marker *ngFor="let loc of locationlist" [latitude]="loc.latitude ? loc.latitude : lat" [longitude]="loc.longitude ? loc.longitude : lng" [iconUrl]="{ url: '../../../../assets/images/icon-location.svg'}">
					<agm-info-window [isOpen]="true" #infoWindow>
						<strong>{{loc.name}}</strong>
					</agm-info-window>
				</agm-marker>
			</agm-map>
		</div>
		<div *ngIf="!mapview" id="map-list">
			<div  class="map-list-wrapper">
				<div class="user-grid-wrapper px-3 pt-3 pb-0 dashboard-user-grid-wrapper" [ngStyle]="{'height':(widget?.properties?.h - 57)+'px'}">
					<section class="content-header p-t-10">
						<div class="ml-auto content-header-action">
							<form (onsubmit)="search(searchParameters.searchText)">
								<div>
									<mat-form-field class="example-full-width">
										<input class="search" name="searchText"
										[(ngModel)]="searchParameters.searchText" matInput
										placeholder="Search" autocomplete="off" value="">
										<button type="submit" matSuffix mat-button class="search-btn" (click)='search(searchParameters.searchText)'>
											<img src="../../../../../assets/images/search-icon.svg" alt="">
										</button>
									</mat-form-field>
								</div>
								<div class="p-l-20">
									<button type="button" mat-flat-button color="primary" class="text-white" (click)="clickAdd()">Add Location</button>
								</div>
							</form>
						</div>
					</section>
					<div class="row locations-list-wrapper">
						<div class="col-ld-6 col-lg-6 col-xl-6 m-b-30" *ngFor="let loc of locationlist">
							<div class="user-grid-box h-auto">
								<div class="user-status-indicator status-green"></div>
								<div class="grid-inner-flex d-flex align-items-center">
									<div class="user-image-box">
										<img src="{{loc.image == '00000000-0000-0000-0000-000000000000' || loc.image == null ? _appConstant.noImg: mediaUrl + loc.image}}" class="img-fluid" alt="">
									</div>
									<div class="user-detail-box">
										<h3 class="user-name"><a [routerLink]="['/buildings/building-dashboard',loc.guid]" style="cursor:pointer">{{loc.name}}</a></h3>
										<p class="user-details">Total Zones - <span>{{loc.totalSubEntities}}</span></p>
										<p class="user-details">Total Lights - <span>{{loc.totalDevices}}</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="locationlist.length === 0 && mapview" class="centerclass" [ngStyle]="{'height':mapHeight}">No locations found</div>
	</mat-card>
  </div>
